* {
    padding: 0;
    margin: 0;
}

.imgProductoCart {
    height: 10em;
    width: 10em;
    border-radius: 25%;
}

.cartProductContainer h4 {
    box-sizing: content-box;
    color: #ffc107;
}
.cartProductContainer p{
    box-sizing: content-box;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    font-size: larger;
}

.cartProductContainer .cartProductBody {
    box-sizing: content-box;
    border: #ffc107 dotted 3px;
    margin-left: 1em;
    padding: 1em;
}

 /* .itemCarritoBody {

}
.itemCarritoBody p {

}
.itemCarritoBody h4 {


} */
.cartTotal {
    box-sizing: content-box;
    margin: 1em;
    padding: 1em;
    border: #ffc107 solid 3px;
    color: #fff;
    font-weight: bolder;
} 