.body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant SC', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f000;
}

