/* .btnAdd {
    height: 2rem;
    width: 2rem;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 60%;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #000000;
    text-decoration: none;
} */



/* .btnRedd {
    height: 2rem;
    width: 2rem;
    text-decoration: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 60%;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #000000;
    text-decoration: none;
} */